body { min-width: 380px; font-size: 12px; }
h1, h2, h3 { margin: 0; }
a, a:hover { color: #4183c4; }
.alert-info { background-color: #eeeeff; }
.btn-group .btn-mini > i { margin-top: -1px; }
footer { border-top: 1px solid #ddd; padding: 10px 10px 25px 10px; }
.hidden-elements { position: absolute; top: -5000px; left: -5000px; }
.serif { font-family: Georgia, 'Times New Roman', Times, serif; }
.monospace { font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }
.slanted { font-style: italic; }
span.repo { font-weight: bold; }
.description, .time { color: #888; }
.n0 { margin-left: 2px; margin-right: 2px; }
.n1 { margin-left: 2px; }
.n2 { margin-right: 2px; }
.hover-master       .hover-only,  .a-feed       .hover-only  { display: none  !important; }
.hover-master:hover .hover-only,  .a-feed:hover .hover-only  { display: block !important; }
p.tip { margin: 7px 0 0 0; display: inline-block; font-size: 12px; color: #999; }
p.tip strong.protip { margin-left: 10px; font-weight: normal; color: black; }
a.feed {
  display: inline-block;
  height: 24px;
  padding: 0 6px;
  font-size: 12px;
  line-height: 26px;
  color: #4183c4;
  text-decoration: none;
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
a.feed > .icon-feed {
  position: relative;
  margin: -2px 2px 0 -2px;
  width: 16px;
  height: 16px;
  padding: 1px;
  border-color: #ea6635;
  color: #fff;
  background: #e36443;
  /* css3 */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 4px rgba(0,0,0,0.4);
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
  background: -webkit-gradient(linear, left top, left bottom, from(#f19242), to(#e36443));
  background: -moz-linear-gradient(top, #f19242, #e36443);
  background: linear-gradient(top, #f19242, #e36443);
}
a.feed > .icon-feed:before,
a.feed > .icon-feed:after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 3px;
}
/* create circle */
a.feed > .icon-feed:before {
  width: 3px;
  height: 3px;
  background: #fff;
  /* css3 */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* create the two arcs */
a.feed > .icon-feed:after {
  width: 6px;
  height:6px;
  border-style: double;
  border-width: 6px 6px 0 0;
  border-color: #fff;
  /* css3 */
  -moz-border-radius: 0 12px 0 0;
  -webkit-border-radius: 0 12px 0 0;
  border-radius: 0 12px 0 0;
}
.pagehead {
  margin-top: 10px;
}
.pagehead > ul.tabs {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  background: #fafafa;
  border: 1px solid #eaeaea;
  border-bottom-color: #cacaca;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.pagehead > ul.tabs li {
  list-style-type: none;
  margin: 0;
  display: table-cell;
  width: 1%;
}
.pagehead > ul.tabs li a {
  display: block;
  text-align: center;
  line-height: 35px;
  font-size: 12px;
  color: #777;
  text-decoration: none;
  text-shadow: 0px 1px 0px white;
  border-right: 1px solid #eee;
  border-right-color: rgba(0, 0, 0, 0.04);
  border-left: 1px solid #fcfcfc;
  border-left-color: rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid #dadada;
}
.pagehead > ul.tabs li:first-child a {
  border-left: medium none;
  border-bottom-left-radius: 3px;
}
.pagehead > ul.tabs li:last-child a {
  border-right: medium none;
  border-bottom-right-radius: 3px;
}
.pagehead > ul.tabs li a {
  background: #fcfcfc repeat scroll 0% 0% transparent;
  background-image: -moz-linear-gradient(top, #fcfcfc, #ebebeb);
  background-image: -ms-linear-gradient(top, #fcfcfc, #ebebeb);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fcfcfc), to(#ebebeb));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #ebebeb);
  background-image: -o-linear-gradient(top, #fcfcfc, #ebebeb);
  background-image: linear-gradient(top, #fcfcfc, #ebebeb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#ebebeb', GradientType=0);
}
.pagehead > ul.tabs li a:hover {
  color: #4183c4;
  border-bottom: 2px solid #cfdce8;
  background: #fafbfd repeat scroll 0% 0% transparent;
  background-image: -moz-linear-gradient(top, #fafbfd, #dce6ef);
  background-image: -ms-linear-gradient(top, #fafbfd, #dce6ef);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafbfd), to(#dce6ef));
  background-image: -webkit-linear-gradient(top, #fafbfd, #dce6ef);
  background-image: -o-linear-gradient(top, #fafbfd, #dce6ef);
  background-image: linear-gradient(top, #fafbfd, #dce6ef);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafbfd', endColorstr='#dce6ef', GradientType=0);
}
.pagehead > ul.tabs li a.selected,
.pagehead > ul.tabs li a.selected:hover {
  color: black;
  border-bottom: 2px solid #d26911;
}
.navbar .container { width: 780px; }
.navbar-inner {
  min-height: 47px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fafafa, #eaeaea);
  background-image: -ms-linear-gradient(top, #fafafa, #eaeaea);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#eaeaea));
  background-image: -webkit-linear-gradient(top, #fafafa, #eaeaea);
  background-image: -o-linear-gradient(top, #fafafa, #eaeaea);
  background-image: linear-gradient(top, #fafafa, #eaeaea);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea', GradientType=0);
  border-bottom: 1px solid #cacaca;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.4), 0 0 10px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,.4), 0 0 10px rgba(0,0,0,.1);
  box-shadow: 0 1px 0 rgba(255,255,255,.4), 0 0 10px rgba(0,0,0,.1);
}
.navbar .brand { margin: 0; padding: 5px 0 0 0; }
.navbar .brand h1 { font-size: 30px; color: #000; }
.navbar .brand h1 small { font-size: 17px; }
.navbar .brand:hover h1 { color: #4183c4; }
.navbar .form-search { color: #333; font-size: 12px; line-height: 18px; margin: 9px 0 0 0; position: relative; }
.navbar .form-search .search-icon { z-index: 3; position: absolute; top: 2px; right: 3px; display: block; width: 26px; height: 26px; cursor: pointer; margin: 0; padding: 0; border: none; outline: 0; background: transparent; }
.navbar .form-search .nav-search { margin: 2px 0 0 0; }
.navbar .form-search .search-input {
	z-index: 2;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 116px;
	height: 18px;
	min-height: auto\9;
	padding: 6px 27px 6px 12px;
	font-size: 12px;
	line-height: 1;
	color: #555;
	border: 0;
	background-color: #fff;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.4);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.4);
	-webkit-transition: all .19s ease-in-out;
	-moz-transition: all .19s ease-in-out;
	transition: all .19s ease-in-out;
	*height: 12px;
}
.navbar .form-search .search-input:-moz-placeholder { color: #777; }
.navbar .form-search .search-input::-webkit-input-placeholder { color: #777; line-height: 16px; }
.navbar .form-search .search-input:focus {
	width: 236px;
  color: #333;
  text-shadow: none;
	-webkit-box-shadow: inset 0 0 2px 1px #4183c4;
	-moz-box-shadow: inset 0 0 2px 1px #4183c4;
	box-shadow: inset 0 0 2px 1px #4183c4;
	background-color: #f5f9ff;
}
.navbar .form-search .search-input:focus:-moz-placeholder { color: #ccc; }
.navbar .form-search .search-input:focus::-webkit-input-placeholder { color: #ccc; }
.user-menu > .btn-group > .btn {
  margin: 2px 0 0 10px;
  padding: 5px;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
}
.user-menu .btn .avatar {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;
}
.user-menu .btn .name { float: left; margin-left: 4px; padding-right: 18px; }
.user-menu .btn .icon {
  float: left;
  margin: 0;
  padding: 6px 0 0 0;
  position: absolute;
  width: 18px;
  top: 0;
  bottom: 0;
  right: 0;
  border-left: 1px solid #ddd;
	-webkit-border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-webkit-box-shadow: inset 1px 0 #fafafa;
	-moz-box-shadow: inset 1px 0 #fafafa;
	box-shadow: inset 1px 0 #fafafa;
}
.user-menu .open .btn .icon { border-left: 1px solid #cacaca; }
.user-menu .user-info { padding: 5px 0 5px 15px; height: 50px; overflow: hidden; }
.user-menu .user-info .avatar { margin-right: 15px; width: 50px; height: 50px; overflow: hidden; }
.user-menu .user-info span { display: block; }
.user-menu .user-info .name { color: black; }
.content.row { margin-top: 20px; }
#home .main .timeline .well {
  background-color: #fafafa;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.timeline .show-more {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}
.a-feed {
  display: block;
  clear: both;
  margin: 0 0 15px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #ddd;
}
.a-feed::after { content: ""; display: block; clear: both; }
.a-feed aside {
  overflow: visible;
  margin: 0;
  padding: 0;
  float: left;
}
.a-feed aside figure {
  overflow: visible;
  margin: 0;
  padding: 0;
}
.a-feed aside figure a {
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.a-feed aside figure .avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  margin: 0;
  padding: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.a-feed .details {
  margin: 0 0 0 15px;
  padding: 0;
  float: left;
  max-width: 395px;
}
@media (max-width: 500px) {
  .a-feed .details { max-width: 287px; }
}
@media (min-width: 768px) and (max-width: 979px) {
  .a-feed .details { max-width: 287px; }
}
@media (min-width: 1200px) {
  .a-feed .details { max-width: 505px; }
}
.a-feed .details > h3 {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
}
.a-feed .details > .rich-content {
  margin: 10px 0;
  padding: 0;
}
.a-feed .details > .rich-content > * {
  margin: 0;
}
.a-feed .details > .rich-content > .table {
  width: auto;
}
.a-feed .details > .rich-content .table > tbody th {
  text-align: center;
}
.a-feed .details > .toolbar {
  margin: 10px 0;
  padding: 0;
  min-height: 16px;
}
.a-feed .details > .toolbar > span {
  float: left;
  margin-left: 4px;
  display: inline-block;
}
.small.user.list {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.small.user.list > li {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
.small.user.list > li > a {
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: visible;
  margin: 0;
  padding: 0;
}
.small.user.list > li .avatar {
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: visible;
  margin: 0;
  padding: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.small.user.list > li.description {
  margin-left: 2px;
}
.a-feed .details > .toolbar .small.user.list {
  display: none;
  margin-left: 5px;
}
@media (min-width: 1200px) {
  .a-feed .details > .toolbar .small.user.list {
    display: inline-block;
  }
  .a-feed .details > .toolbar .small.user.list > li .avatar {
    margin-top: -6px;
  }
}
.box { margin-bottom: 20px; }
.my.box,
#problem .stat.box {
  border: 1px solid #ddd;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  background-color: #fafafb;
}
.my.box { padding-bottom: 13px; }
#problem .stat.box > .table { margin-bottom: 0; }
.my.box .top-bar,
#problem .stat.box .top-bar {
  padding: 10px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fafafa, #eaeaea);
  background-image: -ms-linear-gradient(top, #fafafa, #eaeaea);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#eaeaea));
  background-image: -webkit-linear-gradient(top, #fafafa, #eaeaea);
  background-image: -o-linear-gradient(top, #fafafa, #eaeaea);
  background-image: linear-gradient(top, #fafafa, #eaeaea);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea', GradientType=0);
}
.my.box .top-bar h3,
#problem .stat.box .top-bar h3 {
  color: #52595d;
  font-size: 16px;
  line-height: 19px;
}
.my.box .top-bar .btn-inverse {
  color: white;
  padding: 3px 8px;
  -webkit-text-stroke: 1px transparent;
  -moz-text-stroke: 1px transparent;
  text-stroke: 1px transparent;
  -webkit-text-shadow: -1px -1px 0 #333;
  -moz-text-shadow: -1px -1px 0 #333;
	text-shadow: -1px -1px 0 #333;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
  background-image: -moz-linear-gradient(top, #909090, #040404);
  background-image: -ms-linear-gradient(top, #909090, #040404);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#909090), to(#040404));
  background-image: -webkit-linear-gradient(top, #909090, #040404);
  background-image: -o-linear-gradient(top, #909090, #040404);
  background-image: linear-gradient(top, #909090, #040404);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#909090', endColorstr='#040404', GradientType=0);
  border: none;
  border-color: none;
  *background-color: #909090;
}
.my.box .top-bar .btn-inverse.active,
.my.box .top-bar .btn-inverse.disabled,
.my.box .top-bar .btn-inverse[disabled] {
  background-color: #040404;
}
.my.box .filter-bar { display: none; }
.my.box ul.list { margin: 0; }
.my.box ul.list li { display: block; margin: 0; padding: 0; background-color: white; border-bottom: 1px solid #e5e5e5; }
.my.box ul.list li.private { background-color: #fffeea; }
.my.box ul.list li > a { display: block; border: none; padding: 6px 10px 5px 32px; font-size: 14px; line-height: 1.5; position: relative; }
.my.box ul.list li > a .mini-icon { position: absolute; left: 9px; top: 8px; }
.my.box ul.list li > a .arrow { display: block; height: 0; width: 0; border-width: 5px 0 5px 5px; border-style: solid; border-color: transparent; border-left-color: #d0d0d1; position: absolute; right: 10px; top: 10px; }
.my.box ul.list li.private > a .arrow { border-left-color: #b7b7b7; }
.my.box ul.list li > a:hover .arrow { border-left-color: #9f9fa0; }
.my.box ul.list li.private > a:hover .arrow { border-left-color: #939393; }
.my.box ul.list .repo-stats { float: right; position: relative; top: -23px; right: 10px; }
.my.box ul.list .repo-stats > i { margin-left: 10px; }
.my.box ul.list .repo-stats > .social-count { margin-left: 5px; padding: 3px 5px; }
.my.box ul.list .participation-graph {
  padding: 0;
  margin: 5px 10px 10px 10px;
  text-align: center;
  background: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #e5e5e5;
	border-right-color: #eee;
	border-bottom-color: #eee;
}
.my.box ul.list .participation-graph .bars { margin: 0; padding: 0; display: inline; vertical-align: bottom; }
.my.box ul.list .participation-graph .legend { margin: -2px 0 0 0; padding: 0; display: inline; vertical-align: top; }
.a-reply {
  display: block;
  clear: both;
  margin: 0 0 5px 0;
  padding: 0 0 5px 0;
}
.a-reply::after { content: ""; display: block; clear: both; }
.a-reply:hover { background-color: whiteSmoke; }
.a-reply .avatar {
  float: left;
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.a-reply .avatar > img {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.a-reply .reply-content {
  float: left;
  margin-left: 10px;
  width: 460px;
}
.a-reply textarea.reply-content {
  margin: 0 0 0 10px;
  padding: 5px;
  width: 440px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.a-reply .reply-content .text {
  margin: 0;
  padding: 0;
}
.a-reply.my .bottom-bar {
  clear: both;
  display: block;
  margin: 0;
  padding: 0;
  width: 460px;
}
.a-reply.my .bottom-bar .btn {
  margin-left: 441px;
  width: 60px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.social-count {
  border: 1px solid #d4d4d4;
  font-size: 11px;
  font-weight: bold;
  padding: 6px 7px;
  line-height: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #333;
  background-color: #fafafa;
  position: relative;
}
.social-count,
.social-count:hover {
  cursor: pointer;
  text-decoration: none;
}
.social-count::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 6px solid #d4d4d4;
  border-color: transparent #d4d4d4 transparent transparent;
  position: absolute;
  right: 100%;
  margin-right: 0;
  top: 50%;
  margin-top: -6px;
}
.social-count::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 6px solid #fafafa;
  border-color: transparent #fafafa transparent transparent;
  position: absolute;
  right: 100%;
  margin-right: -1px;
  top: 50%;
  margin-top: -6px;
}
#problem .title.row h1 {
  color: #666;
  padding-left: 24px;
  font-size: 20px;
  font-weight: normal;
  line-height: 28px;
  letter-spacing: -1px;
  z-index: 0;
}
#problem .title.row h1 .repo { font-weight: bold; }
#problem .title.row .actions { margin: 0; padding: 0; list-style: none; }
#problem .title.row .actions > li { float: left; margin-left: 10px; }
#problem .title.row .actions > li .btn { margin-top: -1px; }
#problem .title.row .actions > li .btn i { margin: 1px 2px 0 -2px; }
#problem .title.row .actions > li .social-count { margin-left: 4px; }
#problem .problem {
  margin: 0 0 20px 0;
  padding: 3px;
  background-color: #eee;
}
#problem .problem > h1 {
  height: 45px;
  font-size: 22px;
  font-weight: normal;
  line-height: 46px;
  padding-left: 15px;
  background-color: white;
  border: 1px solid #cacaca;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fafafa, #eaeaea);
  background-image: -ms-linear-gradient(top, #fafafa, #eaeaea);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#eaeaea));
  background-image: -webkit-linear-gradient(top, #fafafa, #eaeaea);
  background-image: -o-linear-gradient(top, #fafafa, #eaeaea);
  background-image: linear-gradient(top, #fafafa, #eaeaea);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea', GradientType=0);
}
#problem .problem > h1 > .actions { height: 22px; }
#problem .problem > h1 > .actions .btn {
  vertical-align: top;
  margin-top: -1px;
  margin-right: -1px;
  -webkit-border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
  border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
#problem .problem > .content {
  margin-top: -1px;
  padding: 15px 30px;
  background-color: white;
  border: 1px solid #cacaca;
}
#problem .problem > .content h2 {
  position: relative;
  margin-top: 1.25em;
  font-size: 1.5em;
  font-weight: normal;
}
#problem .problem > .content h2:first-child {
  clear: both;
  margin-top: 0;
}
#problem .problem > .content h2::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border: 5px solid #ccc;
  border-color: transparent transparent transparent #ccc;
  position: absolute;
  right: 100%;
  margin-right: 1px;
  top: 50%;
  margin-top: -5px;
}
#problem .problem > .content:hover h2::before {
  border-color: transparent transparent transparent #333;
}
#problem .problem > .content p {
  text-indent: 2em;
  font-size: 1.15em;
  line-height: 2em;
  color: black;
}
#problem .problem > .content p * {
  text-indent: 0;
}
#problem .problem > .content pre {
  font-size: 1em;
  padding: 0.708em;
  margin: 0 0 0.75em;
}
i.stars {
  background: transparent url(../img/stars.gif) repeat scroll 0 0;
  display: inline-block;
  height: 9px;
  width: 45px;
  margin: 0 3px;
}
i.four.stars { background-position: left 45px; }
i.three.stars { background-position: left 36px; }
i.two.stars { background-position: left 27px; }
i.one.stars { background-position: left 18px; }
.score.grid { margin: 0; padding: 0; }
.score.grid::after { content: ""; display: block; clear: both; }
.score.grid > li { clear: both; list-style: none; height: 24px; line-height: 24px; margin: 0 0 0 10px; padding: 0; }
.score.grid > li .description { color: #333; }
.score.grid > li .stars { margin: 0 0 0 5px; }
.score.grid > li .progress {
  display: inline-block;
  width: 110px;
  height: 14px;
  position: relative;
  top: 4px;
  margin: 0 0 0 5px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #e7f0d2;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.score.grid > li .progress .bar {
  height: 14px;
  background-color: #f5cbad;
  background-image: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.score.grid > li .percentage { display: inline-block; width: 40px; margin-left: 5px; text-align: right; }
@media (min-width: 768px) and (max-width: 979px) {
  .score.grid > li .progress { display: none; }
}
@media (min-width: 980px) and (max-width: 1199px) {
  .score.grid > li .percentage { display: none; }
}
#problem .stat.box > .description { display: inline-block; margin: 5px 10px; }
#problem .stat.box > .score.grid { margin-bottom: 5px; }
.star-rating {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 75px;
  height: 15px;
  position: relative;
  background: url(../img/wstar.gif) top left repeat-x;
}
.star-rating li {
  padding: 0;
  margin: 0;
  float: left;
}
.star-rating li a {
  display: block;
  width: 15px;
  height: 15px;
  text-decoration: none;
  text-indent: -9999px;
  z-index: 20;
  position: absolute;
  padding: 0;
  margin: 0;
}
.star-rating li a:hover {
  background: url(../img/ystar.gif) left center;
  z-index: 2;
  left: 0;
}
.star-rating a.one-star { left: 0; }
.star-rating a.one-star:hover { width: 15px; }
.star-rating a.two-stars { left: 15px; }
.star-rating a.two-stars:hover { width: 30px; }
.star-rating a.three-stars { left: 30px; }
.star-rating a.three-stars:hover { width: 45px; }
.star-rating a.four-stars { left: 45px; }
.star-rating a.four-stars:hover { width: 60px; }
.star-rating a.five-stars { left: 60px; }
.star-rating a.five-stars:hover { width: 75px; }
#problem .stat.box .star-rating { margin-top: 2px; }
#problem .submit.stat.box .table th { font-weight: normal; padding-left: 10px; }
#problem #submit-modal form.form-horizontal { margin: 0; }
#problem #submit-modal .control-group.last { margin-bottom: 0; }
#problem #submit-modal #source_code { width: 520px; position: relative; left: 50%; margin: 0 0 15px -265px; }
#problem #submit-modal .alert { margin: 0; }
#problem #submit-modal .alert label {
  float: none;
  display: inline;
  margin: 0;
  cursor: pointer;
  font-size: inherit;
  font-weight: bold;
  line-height: inherit;
}
/** responsive **/
@media (max-width: 510px) {
  .navbar .form-search .search-input:focus { width: 116px; }
}
@media (max-width: 717px) {
  .navbar .brand h1 > small { display: none; }
}
@media (max-width: 767px) {
  .navbar .container { width: auto; }
  #problem .title.row h1 { padding-left: 4px; }
}
@media (min-width: 768px) and (max-width: 979px) {
  .navbar .container { width: 600px; }
  .navbar .form-search .search-input:focus { width: 196px; }
}
@media (min-width: 1200px) {
  .navbar .container { width: 970px; }
  #problem .title.row h1 { padding-left: 32px; }
}
