html, body { font-size: 12px; font-family: Arial, sans-serif; }
.navbar { display: none; }
.title.row .actions { display: none; }
.title.row h1 { font-size: 16px; color: black; text-decoration: none; position: absolute; top: 0; right: 10px; }
.title.row h1::before { content: "http://xxx.com/"; font-weight: normal; }
.title.row h1 a { color: black; text-decoration: none; }
.title.row h1 a.owner { font-weight: normal; }
.pagehead { display: none; }
.problem > h1 { font-size: 16px; padding-bottom: 10px; border-bottom: 1px solid black; }
.problem > h1 > .actions { display: none; }
.problem > .content h2 { font-size: 14px; }
.problem > .content p {
  text-indent: 2em;
  font-size: 12px;
  line-height: 18px;
  color: black;
}
.problem > .content p * { text-indent: 0; }
.problem > .content pre {
  font-size: 12px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  border: 1px solid black;
  padding: 10px;
}
.right.sidebar { display: none; }
footer { border-top: 1px solid black; font-size: 12px; padding: 10px; }
footer > div.pull-right { display: none; }
footer > .copyright::after { content: " http://xxx.com"; font-weight: bold; }
.tooltip { display: none !important; }
.modal { display: none; }
